body {
    background-color: aqua;
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
}
.space {
    background: rgb(9,121,35);
    background: radial-gradient(circle, rgba(9,121,35,1) 6%, rgba(0,212,255,1) 39%, rgba(183,0,255,1) 75%);
    text-align: center;
    border-radius: 50px;
    height: 650px;
    
}
.complement, .insult, .currentNews {
    font-weight: bolder;
    background: rgb(9,9,121);
    background: linear-gradient(180deg, rgba(9,9,121,1) 13%, rgba(0,212,255,1) 100%);
}
.qpk {
    
    height: 50px;
    width: 150px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border-radius: 50px;
    border: 3px dashed rgb(33, 133, 130);
}
p {
    font-size: x-large;
    font-weight: bolder;
    background: white;
    color: rgb(30, 39, 11);
    
}
a {
    font-weight: bolder;
}
.theSpecialLink {
    font-size: x-large;
    background-color: white;
}
h1 {
    font-size: 30px;
}
img {
    height: 200px;
    width: 250px;
    position: absolute;
    top: 15%;
    left: 42%;
    
}
.sites {
    text-align: center;
    width: 400px;
    position: absolute;
    left: 1%;
    top: 33%;
    background: rgb(9,121,35);
    background: linear-gradient(45deg, rgba(9,121,35,1) 6%, rgba(0,212,255,1) 31%, rgba(183,0,255,1) 75%);;
    border-radius: 30px;
}
.bottomSect {
    position: relative;
    top: 75%;
    text-align: center;
}
.insult {
    position: absolute;
    left: 75%;
    top: 20%;
    height: 50px;
    width: 300px;
    border-radius: 30px;
    background-color: greenyellow;
}
.currentNews {
    height: 50px;
    width: 300px;
    border-radius: 30px;
    background-color: greenyellow;
    position: absolute;
    top: 7%;
    right: 41%;


}
.complement {
    position: absolute;
    left: 10%;
    top: 20%;
    height: 50px;
    width: 300px;
    border-radius: 30px;
    background-color: greenyellow;
}

.qp {
    background: rgb(121,44,9);
    background: linear-gradient(45deg, rgba(121,44,9,1) 6%, rgba(0,255,33,1) 53%, rgba(0,255,239,1) 95%);
    border-radius: 30px;
    border: 2px solid black;
    position: absolute;
    right: 1%;
    top: 55%;
    width: 1000px;
}
.unblocker {
    height: 40px;
    width: 300px;
    border-radius: 15px;
    background-color: burlywood;
}
